{% extends 'base.html' %}
{% block content %}
<h1>Units</h1>
    <a href ="{% url 'products:create-units' %}">Add a unit</a>
    <table>
        <tr>
            <td>Unit</td>
            <td>Symbol</td>
        </tr>
        {% for unit in object_list %}
            <td>{{ unit }}</td>
            <td>{{ unit.symbol }}</td>
            <td><a href="{% url 'products:update-units' unit.pk %}">Update</a></td>
            <td><a href="{% url 'products:delete-units' unit.pk %}">Delete</a></td>
        {% endfor %}
    </table>
{% endblock %}
